<p1 class='dialog_header'>{{job.name}}</p1>
<div class='job_img'>
    <img src='{{job.img}}'/>
</div>
<p1 class='info_text'>
    ID: {{job.id}}<br>
    Task ID: {{job.taskid}}<br>
    Printer ID: {{job.printer_id}}<br>
    GCODE ID: {{job.gcode_id}}<br>
    Estimate: {{job.estimate}}<br>
    Material: {{job.material}}<br>
    Paused: {{job.pause}}<br>
    Progress: {{job.progress}}<br>
    Status: {{job.print_status}}<br>
    Reason: {{job.reason}}<br>
    Status: {{job.status}}<br>
    Started: {{job.start_time}}<br>
    End Time: {{job.end_time}}<br>
    Last Updated: {{job.last_update_time}}<br>
</p1>
